.smallimg{
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(209, 207, 207);
}
.smimg{
    width: 350px;
    height: 120px;
    background-color: white;
    display: flex;

}
.smimg img{
    width: 150px;
    padding: 10px;
    height: 100px;
    border-radius: 10px;
}
.innerhed{
    display: flex;
    flex-direction: column;
    text-align: left;
   
    
    background-color: white;
}
.inhed{
    color:red;
    text-align: left;
}